{% load static i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        game
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Behold My Awesome Project!" />
    <meta name="author" content="j" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/css/bootstrap.min.css"
          integrity="sha512-72OVeAaPeV8n3BdZj7hOkaPSEk/uwpDkaGyP4W2jSzAC8tfiO4LMEDWoL3uFp5mcZu+8Eehb4GhZWFwvrss69Q=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link href="{% static 'css/project.css' %}" rel="stylesheet" />
    {% block css %}
    {% endblock css %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"
            integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script defer
            src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.12/htmx.min.js"
            integrity="sha512-JvpjarJlOl4sW26MnEb3IdSAcGdeTeOaAlu2gUZtfFrRgnChdzELOZKl0mN6ZvI0X+xiX5UMvxjK2Rx2z/fliw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script defer
            src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.12/ext/ws.min.js"
            integrity="sha512-CSx03yyZNG38wNKeZfkjeeG+v7xVUvLAzwdUNvjKGLFpT80PisnjnclZJohj6XJyqIYusgZQrdFUrVgrnu/Jew=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script defer src="{% static 'js/project.js' %}"></script>
    {% block javascript %}
    {% endblock javascript %}
  </head>
  <body class="{% block bodyclass %}{% endblock bodyclass %}">
    {% include 'snippets/header.html' with user=request.user %}
    {% block body %}
      <div id="site-main" class="d-flex">
        {% if request.user.is_authenticated %}
          {% include 'snippets/sidebar.html' %}
        {% endif %}
        <div class="container py-3">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"></button>
              </div>
            {% endfor %}
          {% endif %}
          {% block main %}
            {% block content %}
              <i class="fa-brands fa-sticker-mule"></i>
              <p>Use this document as a way to quick start any new project.</p>
            {% endblock content %}
          {% endblock main %}
        </div>
      </div>
      {% if request.user.is_authenticated %}
        {% include 'snippets/chatbar.html' with user=request.user conversations=request.user.dashboard.get_conversations open_conversations=request.user.dashboard.get_open_conversations show_messages=request.user.dashboard.messages_open %}
      {% endif %}
    {% endblock body %}
    {% block modal %}
    {% endblock modal %}
    <script>
      function scrollchats() {
        var chatbarChats = document.querySelectorAll('.message-box');

        chatbarChats.forEach(chat => {
          chat.scrollTop = chat.scrollHeight;
        });
      }

      window.onload = function() {
        scrollchats();
      };

      document.body.addEventListener("htmx:configRequest", (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      });

      document.body.addEventListener('htmx:afterSwap', function(evt) {
        let messageBox = evt.target;
        if (messageBox.classList.contains("chat-form")) {
          let chatBox = evt.target.closest('.chatbar-conversation');
          let chatForm = chatBox.querySelector("form");
          chatForm.reset();
        }
      });

      document.body.addEventListener('htmx:oobAfterSwap', function(evt) {
        scrollchats();
      });
    </script>
    {% block inline_javascript %}
    {% endblock inline_javascript %}
  </body>
</html>
