<div id="dashboard-notifications"
     hx-ext="ws"
     ws-connect="/ws/messages/{{ user.dashboard.slug }}/"
     hx-swap="outerHTML"
     hx-target="#dashboard-notifications"
     class="alerts-dropdown dropdown me-4">
  <a href="#"
     hx-post="{% url 'dashboards:read-notifs' %}"
     hx-swap="innerHTML"
     hx-trigger="click"
     hx-target="#notification-indicator"
     class="d-flex align-items-center text-decoration-none dropdown-toggle"
     id="alertsDropdown"
     data-bs-toggle="dropdown"
     aria-expanded="false">
    <i class="fas fa-bell fa-lg"></i>
    {% include "snippets/notification-indicator.html" with user=user %}
  </a>
  <ul class="dropdown-menu dropdown-menu-end"
      aria-labelledby="alertsDropdown">
    {% for notification in user.dashboard.notifications.all %}
      <li>
        <a class="dropdown-item" href="#">
          <div class="card">
            <div class="card-body">
              <div class="card-header">
                <h6 class="{% if not notification.read %}fw-bold {% endif %}card-title">{{ notification.title }}</h6>
              </div>
              <p class="{% if not notification.read %}fw-bold {% endif %}card-text">{{ notification.description }}</p>
            </div>
          </div>
        </a>
      </li>
    {% endfor %}
    <li>
      <hr class="dropdown-divider" />
    </li>
    <li>
      <a class="dropdown-item" href="#">View all alerts</a>
    </li>
  </ul>
</div>
