<aside class="dashboard-sidebar">
  <div class="dashboard-sidebar-wrapper bg-dark" data-bs-theme="dark">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><strong><i class="fa-solid fa-wave-square"></i> Dashboard</strong></a>
        <ul>
          <li>
            <a class="nav-link" href="#">shop</a>
          </li>
          <li>
            <a class="nav-link" href="#">inventory</a>
          </li>
          <li>
            <a class="nav-link" href="#">collection</a>
          </li>
          <li>
            <a class="nav-link" href="#">gallery</a>
          </li>
          <li>
            <a class="nav-link" href="#">achievements</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><strong><i class="fa-solid fa-globe"></i> World</strong></a>
        <ul>
          <li>
            <a class="nav-link" href="#">market</a>
          </li>
          <li>
            <a class="nav-link" href="#">garbage</a>
          </li>
          <li>
            <a class="nav-link" href="#">arena</a>
          </li>
          <li>
            <a class="nav-link" href="#">stats</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
