{% extends "../base.html" %}

{% block content %}
  <h1>Game Items List</h1>
  <div class="card-group py-5">
    {% for item in items %}
      <div class="item-card card mx-2 rounded-3">
        {% if item.image %}<img class="card-img-top" src="{{ item.image.url }}" alt="{{ item.name }}" />{% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.description }}</p>
          <p class="card-text">
            <small class="text-muted">{{ item.info }}</small>
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
